.formNewslatter {
    width: 100vw;
    height: 162px;
    background: #271C47;
    margin-top: 20vh;
    display: flex;
    justify-items: center;

    .form {
        width: 60%;
        height: 71px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .inputCheckbox {
            margin-top: 0.5vh;
            padding-right: 41vh;
            align-items: center;
            justify-content: center;
            display: flex;
            gap: 4px;

            input {
                width: 15px;
                height: 15px;
            }

            label {
                font-size: 14px;
                color: white;
            }
        }

        .inputs {
            gap: 8px;
            display: flex;
            justify-content: end;
            padding-right: 8vh;
            width: 100%;

            button {
                width: 157px;
                height: 42px;
                background: #F7CA11;
                border: 1px;
                border-radius: 8px;
                font-weight: 500;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    opacity: 80%;
                }
            }
        }

        input {
            width: 233px;
            height: 42px;
            border-radius: 8px;
            border: 1px;
            box-sizing: border-box;
            padding-left: 3vh;

            &::placeholder {
                margin-left: 10vh;
                font-size: 14px;
                color: #676767;
            }
        }
    }

    .texts {
        width: 40%;
        padding-left: 8vh;
        align-self: center;

    h1 {
        color: white;
        font-weight: 500;
        font-size: 32px;
    }

    p {
        width: 515px;
        font-weight: lighter;
        font-size: 14px;
        color: white;
    }

    }


}