.footer {

display: flex;
width: 100vw;
height: 282px;
background: #F4F4F4;
}

.social {

width: 30%;
height: 100%;
display: flex;
justify-content: center;
flex-direction: column;
padding-left: 10vh;
gap: 27px;

.midia {
    display: flex;
    gap: 26px;
    img {
        width: 24px;
        height: 24px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

        img {
            width: 164px;
            height: 48px;
        }

        p {
            font-weight: lighter;
            font-size: 14px;
            width: 354px;
            height: 42px;
            color: #3F3F40;
        }
}

.line {
    width: 1px;
    height: 198px;
    background: #D9D9D9;
    align-self: center;
}

.website {
    margin-left: 12vh;
    display: flex;
    gap: 100px;

    section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        h1 {
            font-weight: bold;
            font-size: 16px;
            color: #222222;
            opacity: 71%;
            margin: 0;
        }

        p {
            font-size: 14px;
            color: #222222;
            margin: 0;
            opacity: 71%;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}